.container {
  display: none;
  z-index: 1;

  .hamburger {
    &_button {
      width   : 30px;
      position: absolute;
      top     : 30px;
      right   : 30px;
      z-index : 3;

      div {
        height       : 3px;
        margin-bottom: 5px;
        background   : black;
        transition   : .3s all;

        &:nth-child(1) {
          transform-origin: left;
        }

        &:nth-child(3) {
          transform-origin: left;
        }
      }

      &_open {
        div {
          background: white;

          &:nth-child(1) {
            transform: rotate(45deg) translate(0px, -3px);
          }

          &:nth-child(2) {
            opacity: 0;
          }

          &:nth-child(3) {
            transform: rotate(-45deg) translate(0px, 4px);
          }
        }
      }
    }

    &_menu {
      position       : absolute;
      top            : 0;
      left           : 0;
      width          : 100%;
      height         : 100%;
      background     : black;
      display        : flex;
      flex-direction : column;
      justify-content: center;
      align-items    : center;
      animation      : fade-in .3s;

      a {
        color        : white;
        font-size    : 32px;
        margin-bottom: 20px;
        font-weight  : bold;
      }
    }
  }

  @media (max-width: 900px) {
    display: block;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.9;
  }
}